#about-video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 10;
    left: 0;
  }

#about-container {
    background-color: #212321;
    color: white;
    padding: 20px;
    width: 50vw;
    height: 50vh;
    border: transparent;
    filter: drop-shadow(7px 0px 13px #000);
    align-items: center;
}

#about-header {
    font-family: 'Michroma', sans-serif;
    font-size: 30px;
    /* padding-bottom: 20px; */
    text-align: center;
}


.about-text {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.cross-media {
    color: #719071;
    font-weight: bold;
}

